In [1]:
# from pyspark.conf import SparkConf

In [8]:
from pyspark.sql import SparkSession, Row

In [9]:
spark = SparkSession.builder.master('local')\
                    .appName('Work Count')\
                    .config('spark.some.config.option', 'some_value')\
                    .getOrCreate()

In [15]:
d = Row(name='Alice', age=11)
# spark.createDataFrame(d).collect()
d

Row(age=11, name='Alice')

In [16]:
from pyspark.sql import DataFrameReader

In [19]:
a = spark.read.csv('titanic_train.csv')

In [20]:
type(a)

pyspark.sql.dataframe.DataFrame

In [21]:
a

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [22]:
a.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string')]

In [25]:
type(a.collect())

list

In [27]:
for x in a.collect():
    print(x)
    raise('1')

Row(_c0='PassengerId', _c1='Survived', _c2='Pclass', _c3='Name', _c4='Sex', _c5='Age', _c6='SibSp', _c7='Parch', _c8='Ticket', _c9='Fare', _c10='Cabin', _c11='Embarked')

TypeError: exceptions must derive from BaseException

In [29]:
import pandas as pd
a.toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,None,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,None,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,None,S
6,6,0,3,"Moran, Mr. James",male,None,0,0,330877,8.4583,None,Q
7,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,None,S
9,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,None,S
10,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,None,C
11,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S
12,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S
13,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,None,S
14,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,None,S
15,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,None,S
16,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,None,S
17,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,None,Q
18,18,1,2,"Williams, Mr. Charles Eugene",male,None,0,0,244373,13,None,S
19,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18,None,S
20,20,1,3,"Masselmani, Mrs. Fatima",female,None,0,0,2649,7.225,None,C
21,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,None,S
22,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S
23,23,1,3,"""McGowan, Miss. Anna """"Annie""""""",female,15,0,0,330923,8.0292,None,Q
24,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S
25,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,None,S
26,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,None,S
27,27,0,3,"Emir, Mr. Farred Chehab",male,None,0,0,2631,7.225,None,C
28,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S
29,29,1,3,"""O'Dwyer, Miss. Ellen """"Nellie""""""",female,None,0,0,330959,7.8792,None,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
862,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5,None,S
863,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
864,864,0,3,"""Sage, Miss. Dorothy Edith """"Dolly""""""",female,None,8,2,CA. 2343,69.55,None,S
865,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13,None,S
866,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13,None,S
867,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,None,C
868,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
869,869,0,3,"van Melkebeke, Mr. Philemon",male,None,0,0,345777,9.5,None,S
870,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,None,S
871,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,None,S
872,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
873,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5,B51 B53 B55,S
874,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9,None,S
875,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24,None,C
876,876,1,3,"""Najib, Miss. Adele Kiamie """"Jane""""""",female,15,0,0,2667,7.225,None,C
877,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,None,S
878,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,None,S
879,879,0,3,"Laleff, Mr. Kristo",male,None,0,0,349217,7.8958,None,S
880,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
881,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26,None,S
882,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,None,S
883,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,None,S
884,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5,None,S
885,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.05,None,S
886,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.125,None,Q
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,None,S
888,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"""Johnston, Miss. Catherine Helen """"Carrie""""""",female,None,1,2,W./C. 6607,23.45,None,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,None,Q